<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <clear />
        <add name="MySql" connectionString="server=localhost;user=user;password=password;database=test;" 
             providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>