<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <clear />
        <add name="MySql" connectionString="server=localhost;user=root;password=tante;database=ukm_ifolio;" 
             providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>